@{
    ViewBag.Title = "Overlapping Indexes";
}

@using Index_Manager_Web.Models;
@using GridMvc.Html;

@model List<OverLappingIndexes>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />


<div class="jumbotron">
    <h2>Overlapping Indexes for @ViewBag.DatabaseName</h2>
</div>


<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(OverLappingIndexes => Html.ActionLink("Delete Index", "DeleteIndex", "OverLappingIndexes",
            new
            {
                databaseName = ViewBag.DatabaseName,
                schemaName = OverLappingIndexes.SchemaName,
                tableName = OverLappingIndexes.TableName,
                indexName = OverLappingIndexes.IndexName
            },
            new { @class = "btn btn-danger", @onclick = "showPageLoadingMessage()" }));
    columns.Add(OverLappingIndexes => OverLappingIndexes.SchemaName)
    .Titled("Schema Name")
    .Sortable(true)
    .Filterable(true);
    columns.Add(OverLappingIndexes => OverLappingIndexes.TableName)
    .Titled("Table Name")
    .Sortable(true)
    .Filterable(true);
    columns.Add(OverLappingIndexes => OverLappingIndexes.IndexName)
    .Titled("Index Name")
    .Filterable(false);
    columns.Add(OverLappingIndexes => OverLappingIndexes.KeyColumnList)
    .Titled("Key Column List")
    .Filterable(false);
    columns.Add(OverLappingIndexes => OverLappingIndexes.IncludeColumnList)
    .Titled("Include Column List")
    .Filterable(false);
    columns.Add(OverLappingIndexes => OverLappingIndexes.IsDisabled)
    .Titled("Disabled")
    .Filterable(true);
}).WithPaging(20)
    <div class="ajaxLoaderDiv hidden">
        <p>
            <label>Deleteing...</label>
        </p>
    </div>
</div>

<style>
    .ajaxLoaderDiv {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 2.3em;
        /* The following rules are the
     ones most likely to change */
        width: 20em;
        /* Set 'margin-left' to a negative number
     that is 1/2 of 'width' */
        margin-left: -10em;
        padding-left: 2.1em;
        background-color: black;
        color: white;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        border-radius: 0.4em;
        box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    }

        .ajaxLoaderDiv i {
            margin-right: 0.5em;
        }
</style>

<style>
    .ajaxLoaderDiv-bg {
        background-color: lightgray;
        opacity: .5;
    }
</style>

<script type="text/javascript">
    function showPageLoadingMessage() {
    $('#ajaxLoaderDiv').show();
    $(".ajaxLoaderDiv").removeClass("hidden");
    $("body").addClass("ajaxLoaderDiv-bg");
 }
</script>